In [1]:
import psycopg2
from psycopg2 import sql
import pandas as pd

In [2]:
USER = 'postgres'
PASSWORD = 'password'
HOST = 'localhost'
PORT = '5433'
DATABASE = 'tradinganalytics_db'

#Initialize Database Connection
host = HOST
username = USER
password = PASSWORD
port = PORT
database = DATABASE

conn = psycopg2.connect(
    host = host,
    database = database,
    user = username,
    port = port,
    password = password
)



def query(query,connection):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        cursor.close()
        return result
    except Exception as e:
        print("Error executing query:", e)
        return None

In [3]:
query_string = "select * from dm_tradinganalytics_sch.view_ml_training_data_5m"

result = query(query_string,conn)

df = pd.DataFrame(result,columns=['Open', 'High', 'Low', 'Close', 'Volume'])

df.set_index('datetime',inplace=True)

ValueError: 11 columns passed, passed data had 10 columns

In [16]:
df.head()

,transaction_cnt,close,high,low,ticker,open_close_diff,high_low_diff,volume,direction_volume,cumulative_volume
datetime,,,,,,,,,,
2023-01-09 09:30:00,19,64.9,64.9,64.82,AMD,0.08,0.08,1601,1601,12748
2023-01-09 09:40:00,26,64.9,64.91,64.81,AMD,0.09,0.10,2661,2661,15409
2023-01-09 10:30:00,25,64.7,64.72,64.7,AMD,-0.02,0.02,645,-645,14807
2023-01-09 10:35:00,27,64.56,64.6,64.56,AMD,-0.04,0.04,1502,-1502,13305
2023-01-09 10:40:00,1,64.55,64.55,64.55,AMD,0.00,0.00,100,100,13405

In [17]:
import tensorflow as tf

In [18]:
del df['ticker']

In [19]:
df.head()

,transaction_cnt,close,high,low,open_close_diff,high_low_diff,volume,direction_volume,cumulative_volume
datetime,,,,,,,,,
2023-01-09 09:30:00,19,64.9,64.9,64.82,0.08,0.08,1601,1601,12748
2023-01-09 09:40:00,26,64.9,64.91,64.81,0.09,0.10,2661,2661,15409
2023-01-09 10:30:00,25,64.7,64.72,64.7,-0.02,0.02,645,-645,14807
2023-01-09 10:35:00,27,64.56,64.6,64.56,-0.04,0.04,1502,-1502,13305
2023-01-09 10:40:00,1,64.55,64.55,64.55,0.00,0.00,100,100,13405

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
scaler = MinMaxScaler(feature_range=(0,1))

In [20]:
len(df)

1302